flows (2).json
[{"id":"cabdca81.2d4928","type":"tab","label":"withoutpython","disabled":true,"info":""},{"id":"e8bb3816.6bff58","type":"function","z":"cabdca81.2d4928","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"status\",msg.payload.st)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"death\",msg.payload.death)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"expenditure\",msg.payload.expenditure)\nglobal.set(\"hepatities\",msg.payload.hepatities)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"fivedeath\",msg.payload.fivedeath)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"texpenditure\",msg.payload.texpenditure)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"tyear19\",msg.payload.tyear19)\nglobal.set(\"tyear59\",msg.payload.tyear59)\nglobal.set(\"iresource\",msg.payload.iresource)\nglobal.set(\"schooling\",msg.payload.schooling)\n\n\nvar apikey=\"RKFzOPDxSOqUDB02v6JLWF8CzvSrsCsHoLyBP51FKxb8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["87b3c3b7.81b3e"]]},{"id":"87b3c3b7.81b3e","type":"http request","z":"cabdca81.2d4928","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":420,"wires":[["19ec9576.d5562b"]]},{"id":"82f5dbdc.7739d8","type":"inject","z":"cabdca81.2d4928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["e8bb3816.6bff58"]]},{"id":"21eebe4a.2f5a82","type":"debug","z":"cabdca81.2d4928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":140,"wires":[]},{"id":"19ec9576.d5562b","type":"function","z":"cabdca81.2d4928","name":"Pre Prediction","func":"var co= global.get('co')\nvar ye=global.get('ye');\nvar st= global.get('st')\nvar adult= global.get('adult')\nvar death=global.get('daeth')\nvar alcohol= global.get('alcohol')\nvar expenditure= global.get('expenditure')\nvar hepatities= global.get('hepatities')\nvar measles= global.get('measles')\nvar bmi= global.get('bmi')\nvar fivedeath= global.get('fivedeath')\nvar polio= global.get('polio')\nvar texpenditure= global.get('texpenditure')\nvar diphtheria= global.get('diphtheria')\nvar hiv= global.get('hiv')\nvar population= global.get('population')\nvar gdp= global.get('gdp')\nvar tyear19= global.get('tyear19')\nvar tyear59= global.get('tyear59')\nvar iresource= global.get('iresource')\nvar schooling= global.get('schooling')\nvar token=msg.payload.access_token\nmsg.payload = { \"input_data\" :[] };\nvar fields=[\"country\",\"year\",\"Status\",\"adult morality\",\"infant death\",\"alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"polio\",\"total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"population\",\"GDP\",\"thinness 1-19 year\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"]\nvar values=[co,ye,st,adult,death,alcohol,expenditure,hepatities,measles,bmi,fivedeath,polio,texpenditure,diphtheria,hiv,population,gdp,tyear19,tyear59,iresource,schooling]\nvar instance_id=\"deaeffe7-3432-4a4e-987f-1de7405f41d9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload['input_data'] = [{\"fields\": [fields], \"values\":[values]}];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["6b3e2ea7.0cf5"]]},{"id":"6b3e2ea7.0cf5","type":"http request","z":"cabdca81.2d4928","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/2bb89e1c-4c1e-4dc1-8af2-4d59a3226872/predictions","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":460,"wires":[["9bab9ae4.9ba1a8","d36f2b16.d4cb18"]]},{"id":"b40d178e.0b1d38","type":"ui_form","z":"cabdca81.2d4928","name":"","label":"","group":"571d72ef.b2911c","order":0,"width":0,"height":0,"options":[{"label":"country","value":"co","type":"text","required":true,"rows":null},{"label":"year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status","value":"st","type":"text","required":true,"rows":null},{"label":"adult morality","value":"adult","type":"number","required":true,"rows":null},{"label":"infant death","value":"death","type":"text","required":true,"rows":null},{"label":"alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"expenditure","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatities","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"fivedeath","type":"number","required":true,"rows":null},{"label":"polio","value":"polio","type":"number","required":true,"rows":null},{"label":"total expenditure","value":"texpenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"population","value":"population","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"tyear19","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"tyear59","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"iresource","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"co":"","ye":"","st":"","adult":"","death":"","alcohol":"","expenditure":"","hepatities":"","measles":"","bmi":"","fivedeath":"","polio":"","texpenditure":"","diphtheria":"","hiv":"","population":"","gdp":"","tyear19":"","tyear59":"","iresource":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":460,"wires":[["e8bb3816.6bff58"]]},{"id":"5dbd5f05.be55d","type":"ui_text","z":"cabdca81.2d4928","group":"571d72ef.b2911c","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":220,"wires":[]},{"id":"9bab9ae4.9ba1a8","type":"function","z":"cabdca81.2d4928","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["21eebe4a.2f5a82","5dbd5f05.be55d"]]},{"id":"d36f2b16.d4cb18","type":"debug","z":"cabdca81.2d4928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":540,"wires":[]},{"id":"571d72ef.b2911c","type":"ui_group","z":"","name":"Default","tab":"b48c6652.a49588","order":1,"disp":true,"width":"6","collapse":false},{"id":"b48c6652.a49588","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]