IBM files updated/flows.json
[{"id":"beca13e0.a0403","type":"function","z":"c9be6228.7dae3","name":"PreToken","func":"//global.set(\"co\",msg.payload.co)\n//global.set(\"ye\",msg.payload.ye)\n//global.set(\"status\",msg.payload.st)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"death\",msg.payload.death)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"expenditure\",msg.payload.expenditure)\nglobal.set(\"hepatities\",msg.payload.hepatities)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"fivedeath\",msg.payload.fivedeath)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"texpenditure\",msg.payload.texpenditure)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"tyear19\",msg.payload.tyear19)\nglobal.set(\"tyear59\",msg.payload.tyear59)\nglobal.set(\"iresource\",msg.payload.iresource)\nglobal.set(\"schooling\",msg.payload.schooling)\nglobal.set(\"developed\",msg.payload.developed)\nglobal.set(\"developing\",msg.payload.developing)\nvar apikey=\"Tp8hjPij270sAmzEazJmboghdqjhmRzfAFLNXsHvNJsr\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["cffcfa30.492e88"]]},{"id":"cffcfa30.492e88","type":"http request","z":"c9be6228.7dae3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":340,"wires":[["e912de30.7f142"]]},{"id":"7ef80ee.aab39f","type":"inject","z":"c9be6228.7dae3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["beca13e0.a0403"]]},{"id":"3d811feb.e6815","type":"debug","z":"c9be6228.7dae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":340,"wires":[]},{"id":"fc3cc132.17686","type":"http request","z":"c9be6228.7dae3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/43ba60d4-a774-46bb-b7cf-e4784741783c/predictions?version=2021-06-01","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":460,"wires":[["753bee03.0ca53","bcd3635f.f7583"]]},{"id":"c8a847de.a2b388","type":"ui_text","z":"c9be6228.7dae3","group":"571d72ef.b2911c","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":440,"wires":[]},{"id":"bcd3635f.f7583","type":"function","z":"c9be6228.7dae3","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]+\" Years\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["3d811feb.e6815","c8a847de.a2b388"]]},{"id":"753bee03.0ca53","type":"debug","z":"c9be6228.7dae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":520,"wires":[]},{"id":"de465c2f.7f24d","type":"ui_form","z":"c9be6228.7dae3","name":"","label":"","group":"571d72ef.b2911c","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"adult","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"death","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"expenditure","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatities","type":"number","required":true,"rows":null},{"label":"Measles ","value":"measles","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"fivedeath","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"texpenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"diphtheria","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"population","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"tyear19","type":"number","required":true,"rows":null},{"label":"  thinness 5-9 years","value":"tyear59","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"iresource","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null},{"label":"Developed","value":"developed","type":"number","required":true,"rows":null},{"label":"Developing","value":"developing","type":"number","required":true,"rows":null}],"formValue":{"adult":"","death":"","alcohol":"","expenditure":"","hepatities":"","measles":"","bmi":"","fivedeath":"","polio":"","texpenditure":"","diphtheria":"","hiv":"","gdp":"","population":"","tyear19":"","tyear59":"","iresource":"","schooling":"","developed":"","developing":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":340,"wires":[["beca13e0.a0403"]]},{"id":"e912de30.7f142","type":"function","z":"c9be6228.7dae3","name":"Pre Prediction","func":"//var co=global.get('co')\n//var ye=global.get('ye')\n//var st=global.get('st')\nvar adult=global.get('adult')\nvar death=global.get('death')\nvar alcohol=global.get('alcohol')\nvar expenditure=global.get('expenditure')\nvar hepatities= global.get('hepatities')\nvar measles=global.get('measles')\nvar bmi=global.get('bmi')\nvar fivedeath=global.get('fivedeath')\nvar polio= global.get('polio')\nvar texpenditure=global.get('texpenditure')\nvar diphtheria= global.get('diphtheria')\nvar hiv=global.get('hiv')\nvar gdp=global.get('gdp')\nvar population=global.get('population')\nvar tyear19= global.get('tyear19')\nvar tyear59= global.get('tyear59')\nvar iresource=global.get('iresource')\nvar schooling=global.get('schooling')\nvar developed=global.get('developed')\nvar developing=global.get('developing')\nvar token=msg.payload.access_token\n//var instance_id= \"v4 lite instance_id\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"input_data\":[{\"fields\": [\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles \",\" BMI \",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\"thinness  1-19 years\",\"  thinness 5-9 years\",\"Income composition of resources\",\"Schooling\",\"Developed\",\"Developing\"],\"values\":[[adult,death,alcohol,expenditure,hepatities,measles,bmi,fivedeath,polio,texpenditure,diphtheria,hiv,gdp,population,tyear19,tyear59,iresource,schooling,developed,developing]]}]};\n//msg.payload={\"fields\": [{\"Adult Mortality\":adult,\"infant deaths\":death,\"Alcohol\":alcohol,\"percentage expenditure\":expenditure,\"Hepatitis B\":hepatities,\"Measles \":measles,\" BMI \":bmi,\"under-five deaths \":fivedeath,\"Polio\":polio,\"Total expenditure\":texpenditure,\"Diphtheria \":diphtheria,\" HIV/AIDS\":hiv,\"GDP\":gdp,\"Population\":population,\"thinness  1-19 years\":tyear19,\"  thinness 5-9 years\":tyear59,\"Income composition of resources\":iresource,\"Schooling\":schooling,\"Developed\":developed,\"Developing\":developing}]}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":460,"wires":[["fc3cc132.17686","36fba053.0da0d"]]},{"id":"36fba053.0da0d","type":"debug","z":"c9be6228.7dae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":540,"wires":[]},{"id":"571d72ef.b2911c","type":"ui_group","z":"","name":"Default","tab":"b48c6652.a49588","order":1,"disp":true,"width":"6","collapse":false},{"id":"b48c6652.a49588","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]